<% provide(:title, "Contact") %>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<div class="pic_4">
                            <%= image_tag('bhaskar.jpg', size: "110x150") %>
                                <p style="text-align: left">
                                    <strong>Bhaskar Ghosh</strong>
                                    <br>President<br>Email: bxg0564@louisiana.edu
                                </p>
                            </div>

                            <div class="pic_4">
                                <%= image_tag('aditya.jpg', size: "110x150") %>
                                <p style="text-align: left">
                                    <strong>Aditya Rajeev Kaveeshwar</strong>
                                    <br>Vice President<br>Email: ark5895@louisiana.edu
                                </p>
                            </div>

							<div class="pic_4">
                                <%= image_tag('vinay.jpg', size: "110x150") %>
                                <p style="text-align: left">
                                    <strong>Vinay Israni</strong>
                                    <br>Social Media Handler<br>Email: vmi9219@louisiana.edu
                                </p>
                            </div>

                            <div class="pic_4">
                                <%= image_tag('jay.jpg', size: "110x150") %>
                                <p style="text-align: left">
                                    <strong>Ram Sujith Reddibathini</strong>
                                    <br>Web app Design and Development<br>Email: rxr5511@louisiana.edu
                                </p>
                            </div>						
						</div>
					</div>
				</div>	