<% provide(:title, "Gallery") %>
<div id="main-wrapper">
		<div id="main" class="container">
				<div class="row">
						<div id="img_wrapper" style="width:100%; text-align:center">
								<%= image_tag('page_is_under_construction.jpg') %>							
						</div>						
				</div>
		</div>
</div>		