<% provide(:title, "New Students") %>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">
									<!-- Post -->
										<article class="box post">
												
											<p>AIS welcomes all the new students coming from India to pursue their career. We would like to congratulate you for undertaking this huge endeavor. We are here to help you out from every possible difficulty you might face in USA. We know that it is very difficult to adjust after leaving home and coming so long, but when you find Indian students enjoying Higher Studies in USA and marching towards their career goals, you will be inspired to cope up with the surrounding and speed up accordingly.</p>
											
											<h3 if="flying">Moving to Lafayette</h3>
											<p>The Best way to get to Lafayette is by Air. The Lafayette Airport is served by connecting flights to all major international airports in US. The next alternative is to come by air up to Baton Rouge or New Orleans (nearest cities to Lafayette). From there one can arrive to Lafayette by Greyhound Bus Service, which is not preferred by new students & also not advisable. AIS arranges for the transportation of the new Indian students from the airport to a temporary accommodation. Please note that we will be able help with this transportation only if you arrive at the Lafayette airport (Airport Code: LFT). Please let us know about the arrival date, time and flight details as soon as you know these details. Fill the online Pick up form.</p>
											
											<h3 id="accomodation">Accomodation</h3>
											<p>New students will be put with seniors ( NO RAGGING...SO NO FEAR PLEASE) for first few days for FREE! Whenever you form group of 3-4 students, you can move to your own apartment. Usually, 4-5 roommates share a 2-bed apartment. Apartments in UPA are spacious. Lamar, Lee Avenue, Roosevelt Street, Stewart Street, Beau Chenes and Eagle Run are some of the areas, to search good apartments. University dormitories are also available who wish to stay alone, but there is no cooking facility available over there. In that case you can eat in cafeteria. Try to rent apartment in proximity to school, and preferably to have Indian neighbors! Duplex apartment costs around $820 per month with deposit averaging about $500.</p>
											
											<h3 id="uponarrival">Upon Arrival</h3>
											<p> After arriving at university, there are somethings to take care of in the following order
											<ol>
												<li>Please check with Office of Internation Affairs (OIA) for for the verification of the Documents (I20, passport, visa, I90, Other Certificates)</li>
												<li>Apply for Cajun Card(College Id Card) at <a href="http://cajuncard.louisiana.edu/" target="_blank">Cajun Card Office</a></li>
												<li>Create a new password for ULink through <a href ="https://pwm.ucs.louisiana.edu/pwm/public/ForgottenPassword?logoutURL=http%3A%2F%2Fhelpdesk.louisiana.edu&amp;skipCaptcha=okay&amp;forwardURL=http%3A%2F%2Fhelpdesk.louisiana.edu&amp;" target="_blank">Helpdesk</a></li>
												<li> Attend the Office of International Affairs Orientation to get yourself acquainted with the university and remove a hold on your account</li>
												<li>Meet with Advisor of your department to help you with required courses and course registration</li>
											</ol>
											
											<h3 id="climate">Climate</h3>
											<p>The climate in Lafayette is very pleasant for living. During winter, it resembles some of the cold places in North India and Rest of the year it resembles to that of South Indian Climate. As you can see, it is pretty easy to get on with Lafayette climate. The climate here ranges from 35`C in summer to -2'C in the winter with the temperature around the 15`C - 30`C during the rest of the year. The new students may initially find it little difficult to get accustomed to the cold climate but later on they would love it [most probably!!]. So, if you could not withstand cold please bring appropriate clothing with you other than the normal stuff that we suggest.											</p>
											<h3 id="medical">Medical Information</h3>
											<p>We advise you to go on a complete body check-up, especially eye and dental check-ups since they are very very expensive here, before filling the form out. If you happen to be wearing glass or contact lens, bring around 3-4 pairs with you since it will cost you like anything.
                        Ensure that you have taken all the important and necessary immunizations as mentioned in the immunization record sent to you from University of Louisiana, Lafayette. It is advisable to get MMR, Hepatitis B vaccines. These are very expensive over here. Remember to bring the medical certification or endorsed proof of your completed immunization. This document is important since without it you might not be able to sign up for courses and you have to go through vaccination once again.
                        All non-immigrant international students enrolled at the university are required to be insured. The insurance premium is included in the tuition fees. Insurance is covered semester by semester. Students not enrolled for a semester is not covered in any insurance plan. Should a student decide to buy just the insurance for the semester he or she is not enrolled can purchase the accident and sickness insurance by contacting the Office of International Affairs.
                        In addition to covered insurance UL Lafayette students can access the services provided at the University Medical Center at free of charge. However this service is based on emergency basis, meaning that the patients with minor illness may have to wait longer time than the patient with severe medical conditions. In addition to this the students can access the Clinic on-campus at the Student Health Services , which operate during limited office hours.
                        Bring medication for common ailments like Combiflame, Crocin, Aspirin, Vicks, Iodex, cough syrup, antacids etc., as they can be expensive here. Also, be sure to get the prescription for all the medicines that you get along with you.
											</p>
											
										</article>
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
											  <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#flying">Moving into Lafayette</a></h3>
															</header>
														</article>
											  </li>
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#accomodation">Accommodation</a></h3>
															</header>
														</article>
												</li>
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#uponarrival">Upon Arrival</a></h3>
															</header>
														</article>
												</li>
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#climate">Climate</a></h3>
															</header>
														</article>
												</li>
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#medical">Medical Information</a></h3>
															</header>
														</article>
												</li>
											</ul>
										</section>
								</div>
						  </div>
					 </div>
				</div>