<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<div class="row">
							<ul class="icons inline even">
								
									<li class="icon fa-facebook">
										<a href="https://www.facebook.com/Association-of-Indian-Students-UL-1031711476885209/?fref=ts" target="_blank" style="padding: 0px 16px; text-decoration:none">Facebook</a>
									</li>
									
									<li class="icon fa-envelope">
										<%= link_to "Contact Us", contact_path,{:style=>"padding: 0px 16px; text-decoration:none"} %>
									</li>
									
									<li class="icon">&copy; Association of Indian Students @ <b style="color:white">University of Louisiana at Lafayette</b></li>
									
									
									<li>Coded in ROR App <strong>Ver. 1.9.9</strong></li>
							</ul>
						</div>
					</div>
				</div>