<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<div class="row">
							<ul class="icons inline even">
								<li class="icon fa-facebook">
										<a href="#">Facebook</a>
									</li>
									
									<li class="icon fa-twitter">
										<a href="#">Twitter</a>
									</li>
									
									<li class="icon fa-envelope">
										<%= link_to "Contact Us", contact_path %>
									</li>
									
									<li class="icon">&copy; Association of Indian Students @ <b style="color:white">University of Louisiana at Lafayette</b></li>
									
									<li id="breaknext">Design: <a href="http://html5up.net/">HTML5 UP</a></li>
							</ul>
						</div>
					</div>
				</div>